body { 
  background-color: rgb(47,57,69);
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        small;
  margin:           0px;
}


header.top {
  background-color: rgb(35,42,52);;

  height:           108px;
}
header.top h1{
  padding: 40px 40px 40px 40px;
  color: rgb(228,233,239);}
header.top ul {
	float: right;
}
header.top ul#index{
  float:right;}

div#tableContainer{
	display: table;
	border-spacing: 10px;
}

div#tableRow {
	display: table-row;
}

section#other {
    display: table-cell;
    width: 20%;
    padding: 15px;
    vertical-align: top;
}

section#blog {
  display: table-cell;
  background:      rgb(237,233,221);
  font-size:        105%;
  padding:          15px;
  vertical-align: top;
}
section#blog h1{
  color:rgb(86,85,83);

}
blockquote {
float: right;
width: 275px;
font-size: 130%;
font-style: italic;
font-family: Georgia, Times, serif;
margin: 0px 0px 10px 10px;
padding: 10px;
border-top: 1px solid #665544;
border-bottom: 1px solid #665544;}

#continue{
 float:right;}
h1 {
  font-size:        120%;
  color:            rgb(205,212,218);
}
h2 { font-size: 90%;
   color:rgb(207,203,191);
}
#right{
  float:right;}

a:link {
  color:            black;
  text-decoration:  none;
  border-bottom:    thin solid black;
}
a:visited {
  color:            black;
  text-decoration:  none;
  border-bottom:    thin solid black;
}



nav ul {
	list-style-type: none;
     width: 15em;/*每个框的宽度*/
	 margin: 5px 20px 0px 0px;
	


}
nav ul li {
  
     border: 1px solid  rgb(47,57,69);
     margin:5px 0px 0px 0px;
	 background-color:rgb(39,48,57);
    
     font-size:15px;
}

 nav ul li a:link {
	color:rgb(47,57,69);
	border-bottom: none;
	font-weight: bold;
	margin:20px 20px 20px 15px;
}
nav ul li.selected {
	background-color: rgb(56,68,82);
}/*选择器写错了 */

nav ul li.selected a{
   color:white;
   border-bottom: none;
	font-weight: bold;

   }
nav ul li a:visited{
    color:white;
	background-color:rgb(56,68,82);
	border-bottom: none;
	font-weight: bold;
	margin:5px 10px 5px 5px;

}
